/* base
--------------------------- */
@use "./system" as *;
html {
	font-size: 62.5%;
	font-family: 'Mukta', sans-serif;
}
body {
	min-height: 100vh;
  background-color: #fff;
	letter-spacing: 0.05em;
	line-height: 1.5;
	font-size: 1.4rem;
	color: #555;
	@include mq-min('md'){
    font-size: 1.6rem;
  }
}