@use "./system" as *;
/* block
    ========================================================================== */
.bl_section-heading {

}
.bl_lv1-heading {
    letter-spacing: 0.3em;
    color: #444;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
}
.bl_lv2-heading {
    font-size: 7vw;
    margin-bottom: 2vw;
    letter-spacing: 0.05em;
    color: #444;
    opacity: 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    @include mq-min('md'){
        font-size: 40px;
        margin-bottom: 1vw;
    }
}
.bl_lv3-heading {
    font-size: 5vw;
    margin-bottom: 2vw;
    letter-spacing: 0.05em;
    border-bottom: solid 1px #cfcfcf;
    padding-bottom: 0.1em;
    color: #444;
    font-family: "Zen Kaku Gothic New", sans-serif;
    @include mq-min('md'){
        font-size: 24px;
    }
}
.bl_content {
    opacity: 0;
    &__website {

    }
    &__designcompetition {
        margin-top: 6em;  
    }
}
.bl_txt {
    margin-bottom: 16px;
    font-size: 12px;
    @include mq-min('sm'){
      font-size: 14px;
    }
}
.bl_link {
    color: #777;
    text-decoration: underline;
}
.bl_header-utils {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    &_heading {
        margin-left: 16px;
    }
}
.bl_hamburger {
    padding: 10px;
    max-width: 40px;
    cursor: pointer;
    position: fixed;
    right: 5%;
    z-index: 999;
    @include mq-min('lg'){
        // display: none;
    }
    .bl_hamburger-btn {

    }
}

.bl_header-nav {
    height: 100vh;
    @include mq-min('lg'){
        // height: auto;
    }
    &_lv2heading {
        display: none;
    }
    &_list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include mq-min('lg'){
            // display: flex;
            // justify-content: end;
            // position: static;
            // transform: translate(0,0);
        }
    }
    &_item:first-of-type {
        @include mq-min('lg'){
            // display: none;
        }
    }
    &_item {
        text-align: center;
        margin-bottom: 7.6vw;
        @include mq-min('md'){
            margin-bottom: 40px;
        }
        @include mq-min('lg'){
            // margin-bottom: 0;
            // margin-right: 32px;
        }
    }
    &_item:last-of-type {
        margin-bottom: 0;
        @include mq-min('lg'){
            // margin-right: 0;
        }
    }
    &_link {
        font-size: 4.4vw;
        color: #444;
        letter-spacing: 0.1em;
        display: block;
        // border: solid 1px #cfcfcf;
        padding: 0.3em 0.7em 0.2em 0.7em;
        color: #fff;
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-weight: 500;
        @include mq-min('md'){
            font-size: 16px;
        }
        @include mq-min('lg'){
            // color: #444;
            // border: solid 0px #cfcfcf;
        }
    }
}

.bl_footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    &_txt {
        font-size: 2vw;
        letter-spacing: 0.07em;
        @include mq-min('md'){
            font-size: 12px;
        }
    }
}