@use "./system" as *;

/* layout
  ========================================================================== */
.ly_header {
  padding: 5vw 0 0 0;
  margin-bottom: 1vw;
  @include mq-min('md'){
    padding: 3vw 0 0 0;
  }
  &_inner {
    width: 90%;
    margin: 0 auto;
    @include mq-min('lg'){
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.ly_cont {

}
.ly_main {

}
.ly_section {
  margin: 80px 0;
      &_inner {
        width: 92%;
        margin: 0 auto;
  }
  &:first-of-type {
    margin: 32px 0;
  }
}
.ly_footer {
  padding: 10vw 0;
  margin-top: 4vw;
  background-color: #fff;
  @include mq-min('md'){
    padding: 3vw 0;
  }
    &_inner {
      width: 92%;
      margin: 0 auto;
  }
}