@use "./system" as *;

/* program
  ========================================================================== */
.js_header-nav {
  position:fixed;
  top: 50%;
  left: 100%;
  transform: translate(0,-50%);
  transition: 0.7s;
  background-color: #44444470;
  width: 50%;
  z-index: 997;
  @include mq-min('md'){
    width: 30%;
  }
  @include mq-min('lg'){
    position: static;
    background-color: unset;
    transform: translate(0, 0);
    width: 100%S;
  }
  &.on {
    left: 50%;
    transition: 0.7s;
    @include mq-min('md'){
      left: 70%;
    }
  }
}
.js_hamburger-btn_line {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #444;
  margin-bottom: 4px;
  transition: 0.4s;
    @include mq-min('lg'){
      width: 20px;
      height: 1px;
    }
  &.on {
    transform: translateX(0) translateY(3px) rotate(45deg);
    transition: 0.4s;
    background-color: #fff;
  }
}
.js_hamburger-btn_line:last-of-type {
  margin-bottom: 0;
  &.on {
    transform: translateX(0) translateY(-2px) rotate(-45deg);
    transition: 0.4s;
  }
}


/*========= ローディング画面のためのCSS ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  z-index: 999;
  text-align:center;
  color:#444;
}

.splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  overflow: hidden;
  // font-weight: bold;
}
.splash-logo span {
  display: block;
  transform: translate(0, 103%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  border: solid 1px #cfcfcf;
  padding: 0.25em 0.3em 0.1em 0.3em;
  margin: 0 1px;
  line-height: 1;
}
.splash-logo.-visible span {
  transform: translate(0, 0);
}

.splash-logo span:nth-child(2) {
  transition-delay: 0.05s;
}
.splash-logo span:nth-child(3) {
  transition-delay: 0.10s;
}
.splash-logo span:nth-child(4) {
  transition-delay: 0.15s;
}
.splash-logo span:nth-child(5) {
  transition-delay: 0.20s;
}
.splash-logo span:nth-child(6) {
  transition-delay: 0.25s;
}
.splash-logo span:nth-child(7) {
  transition-delay: 0.30s;
}
.splash-logo span:nth-child(8) {
  transition-delay: 0.35s;
}
.splash-logo span:nth-child(9) {
  transition-delay: 0.40s;
}
.splash-logo span:nth-child(10) {
  transition-delay: 0.45s;
}
.splash-logo span:nth-child(11) {
  transition-delay: 0.5s;
}

.animation_header {
  animation-name: header;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay: 3.4s;
}
@keyframes header {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animation_ttl {
  animation-name: ttl;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
  animation-delay: 2.8s;
}
@keyframes ttl {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    90% {
      transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

.animation_txt {
  animation-name: txt;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 3s;
}
@keyframes txt {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    90% {
      transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}
.animation_object {
  animation-name: object;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 1s;
}
@keyframes object {
    0% {
        opacity: 0;
        top: 55%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
}