@use "./system" as *;

/* unique
  ========================================================================== */

.un_animation_ttl {
  animation-name: ttl;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
  animation-delay: 2.8s;
}
@keyframes ttl {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    90% {
      transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

.un_animation_txt {
  animation-name: txt;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 3s;
}
@keyframes txt {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    90% {
      transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}
.un_animation_object {
  animation-name: object;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 2s;
}
@keyframes object {
    0% {
        opacity: 0;
        // transform: translateY(30%);
    }
    100% {
        opacity: 1;
        // transform: translateY(0);
    }
}