@use "./system" as *;

/* unique
  ========================================================================== */
.un_kv {
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include mq-min('md'){
        height: 80vh;
    }
    &_ttl {
      font-size: 7.2vw;
      letter-spacing: 0.3em;
      color: #444;
      opacity: 0;
      @include mq-min('md'){
          font-size: 56px;
      }
    }
    &_txt {
      opacity: 0;
      letter-spacing: 0.3em;
      color: #444;
    }
}
.un_object {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -999;
  opacity: 0;
  &_group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      min-width: 208px;
      position: absolute;
      &--01 {
        // animation: right-rotate 97s linear infinite -6s;
        animation-name: right-rotate;
        animation-duration: 100s;
        animation-timing-function: linear;
        animation-iteration-count:infinite;
        animation-delay: -6s;
        z-index: 3;
      }
      &--02 {
        // animation: left-rotate 100s linear infinite;
        animation-name: left-rotate;
        animation-duration: 100s;
        animation-timing-function: linear;
        animation-iteration-count:infinite;
        animation-delay: 0s;
        z-index: 2;
      }
      &--03 {
        // animation: right-rotate 94s linear infinite 2s;
        animation-name: right-rotate;
        animation-duration: 100s;
        animation-timing-function: linear;
        animation-iteration-count:infinite;
        animation-delay: 2s;
        z-index: 1;
      }
  }
    &_box {
      min-width: 100px;
      width: 10vw;
      min-height: 100px;
      height: 10vw;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.6em;
      margin: 2px;
      border: solid 1px #cfcfcf;
      pointer-events: none;
      @include mq-min('lg'){
        pointer-events: inherit;
      }
      &:hover .bl_object_box-txt {
        opacity: 1;
        transition: 1s;
      }
  }
}
  
@keyframes right-rotate {
  0% { 
    transform: translate(-50%,-50%) rotate(0deg); 
  }
  100% { 
    transform: translate(-50%,-50%) rotate(360deg); 
  }
  }

  @keyframes left-rotate {
  0% { 
    transform: translate(-50%,-50%) rotate(360deg); 
  }
  100% { 
    transform: translate(-50%,-50%) rotate(0deg); 
  }
}

.un_skill {
  margin-bottom: 1.5em;
  &_head {
    display: flex;
    align-items: end;
    margin-bottom: 0.5em;
  }
  &_img-wrapper {
    display: flex;
    margin-bottom: -0.1em;
  }
  &_img {
    max-width: 40px;
  }
  &_ttl {
    font-size: 16px;
    padding: 0 0.5em 0.1em 0;
    display: inline-flex;
    align-items: center;
    &::before {
      content:"";
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: #444;
      margin-right: 0.4em;
    }
  }
  &_txt {

  }
}
.un_skill:last-of-type {
  margin-bottom: 0;
}

.un_work {
  margin-bottom: 4em;
  position: relative;
  &.on::after {
    width: 0;
  }
  &::after {
    content:"";
    display: block;
    transition: 0.7s;
    width: 1px;
    background-color: #444;
    position: absolute;
    top: 80%;
    right: 5%;
    animation-name: line;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    @include mq-min('md'){
      top: 90%;
    }
  }
  @keyframes line {
    0% {
      height: 0;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      height: 40px;
      opacity: 0;
    }
  }
  @include mq-min('lg'){
    @keyframes line {
      0% {
        height: 0;
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        height: 60px;
        opacity: 0;
      }
    }
  }
  &_head {
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
    transition: 0.7s;
    overflow: hidden;
    &:hover {
        opacity: 0.7;
        transition: 0.7s;
    }
  }
  &_mv {
    transition: 0.7s;
    &:hover {
      transform: scale(1.03);  
      transition: 0.7s;
    }
  }
  &_body {
    font-size: 14px;
    margin-top: 6vw;
    overflow: hidden;
    max-height: 0px;
    transition: 0.8s;
    opacity: 0;
    @include mq-min('md'){
      margin-top: 2vw;
    }
    &.on {
      max-height: 500px;
      transition: 0.8s;
      opacity: 1;
    }
  }
  &_ttl {
    font-size: 16px;
    margin-bottom: 2vw;
    color: #444;
    border-bottom: solid 1px #cfcfcf;
    margin-bottom: 1em;
    padding: 0.2em 0 0.5em 0;
  }
  &_dl {

  }
  &_dt {
    font-size: 11px;
    position: relative;
    @include mq-min('md'){
      float: left;
      font-size: 14px;
      color: #444;
      min-width: 100px;
    }
    &::after {
      @include mq-min('md'){
        content:":";
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(100%, -58%);
        font-size: 20px;
      }
    }
  }
  &_dd {
    color: #444;
    font-size: 14px;
    border-bottom: solid 1px #cfcfcf;
    margin-bottom: 1em;
    padding: 0.2em 0 0.5em 0;
    width: 100%;
    @include mq-min('md'){
      padding-left: 8em;
      padding: 0 0 0.5em 10em;
    }
  }
  &_link {
    color: #777;
  }
  &_list {
    list-style: inside;
  }
  &_item {
    list-style: inside;
  }
}