@charset "UTF-8";
/* base
--------------------------- */
html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #fff;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-size: 1.4rem;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* layout
  ========================================================================== */
.ly_header {
  padding: 5vw 0 0 0;
  margin-bottom: 1vw;
}
@media screen and (min-width: 769px) {
  .ly_header {
    padding: 3vw 0 0 0;
  }
}
.ly_header_inner {
  width: 92%;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .ly_header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.ly_section {
  margin: 8vw 0;
}
.ly_section_inner {
  width: 92%;
  margin: 0 auto;
}

.ly_footer {
  padding: 10vw 0;
  margin-top: 4vw;
  background-color: #fff;
}
@media screen and (min-width: 769px) {
  .ly_footer {
    padding: 3vw 0;
  }
}
.ly_footer_inner {
  width: 92%;
  margin: 0 auto;
}

/* block
    ========================================================================== */
.bl_lv2-heading {
  font-size: 7.2vw;
}
@media screen and (min-width: 769px) {
  .bl_lv2-heading {
    font-size: 64px;
  }
}

.bl_lv3-heading {
  font-size: 5vw;
}
@media screen and (min-width: 769px) {
  .bl_lv3-heading {
    font-size: 56px;
  }
}

.bl_header-utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bl_header-utils_logo {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.bl_header-utils_heading {
  margin-left: 8px;
}

.bl_hamburger {
  padding: 8px;
  max-width: 40px;
  cursor: pointer;
  position: fixed;
  top: 4vw;
  right: 4%;
  z-index: 998;
}
@media screen and (min-width: 1025px) {
  .bl_hamburger {
    display: none;
  }
}
.bl_header-nav_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
}
@media screen and (min-width: 1025px) {
  .bl_header-nav_list {
    height: auto;
    flex-direction: row;
    border-left: none;
    background-color: #fff;
  }
}
@media screen and (min-width: 1025px) {
  .bl_header-nav_item:first-of-type {
    display: none;
  }
}
.bl_header-nav_item {
  text-align: center;
  margin-bottom: 7.6vw;
}
@media screen and (min-width: 769px) {
  .bl_header-nav_item {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .bl_header-nav_item {
    margin-bottom: 0;
    margin-right: 32px;
  }
}
.bl_header-nav_item:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 1025px) {
  .bl_header-nav_item:last-of-type {
    margin-right: 0;
  }
}
.bl_header-nav_link {
  font-size: 4.4vw;
  color: #fff;
}
@media screen and (min-width: 769px) {
  .bl_header-nav_link {
    font-size: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .bl_header-nav_link {
    font-size: 14px;
    color: #333;
  }
}

.bl_footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bl_footer-copyright_txt {
  color: #333;
  font-size: 2vw;
}
@media screen and (min-width: 769px) {
  .bl_footer-copyright_txt {
    font-size: 10px;
  }
}

.bl_kv {
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bl_object {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -999;
}
.bl_object_group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 208px;
  position: absolute;
}
.bl_object_group--01 {
  -webkit-animation: right-rotate 100s linear infinite;
  animation: right-rotate 100s linear infinite;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  z-index: 3;
}
.bl_object_group--02 {
  -webkit-animation: left-rotate 100s linear infinite;
  animation: left-rotate 100s linear infinite;
  z-index: 2;
}
.bl_object_group--03 {
  -webkit-animation: right-rotate 100s linear infinite;
  animation: right-rotate 100s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  z-index: 1;
}
.bl_object_box {
  min-width: 100px;
  width: 10vw;
  min-height: 100px;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: 2px;
  border: solid 1px #cfcfcf;
  pointer-events: none;
}
@media screen and (min-width: 1025px) {
  .bl_object_box {
    pointer-events: inherit;
  }
}
.bl_object_box-txt {
  -webkit-animation: left-rotate_txt 100s linear infinite;
  animation: left-rotate_txt 100s linear infinite;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  opacity: 0;
  transition: 1s;
}
.bl_object_box:hover .bl_object_box-txt {
  opacity: 1;
  transition: 1s;
}

@-webkit-keyframes right-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes right-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes left-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes left-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.bl_section-heading {
  text-align: center;
}

/* unique
  ========================================================================== */
/* helper
  ========================================================================== */
/* program
  ========================================================================== */
.js_header-nav {
  position: fixed;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  transition: 0.7s;
  background-color: #fff;
  width: 100%;
  z-index: 997;
}
@media screen and (min-width: 769px) {
  .js_header-nav {
    width: 30%;
  }
}
@media screen and (min-width: 1025px) {
  .js_header-nav {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    background-color: unset;
  }
}
.js_header-nav.on {
  left: 0%;
  transition: 0.7s;
}
@media screen and (min-width: 769px) {
  .js_header-nav.on {
    left: 70%;
  }
}

.js_hamburger-btn_line {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #333;
  margin-bottom: 4px;
  transition: 0.4s;
}
@media screen and (min-width: 1025px) {
  .js_hamburger-btn_line {
    width: 20px;
    height: 1px;
  }
}
.js_hamburger-btn_line.on {
  transform: translateX(0) translateY(3px) rotate(45deg);
  transition: 0.4s;
  background-color: #fff;
}

.js_hamburger-btn_line:last-of-type {
  margin-bottom: 0;
}
.js_hamburger-btn_line:last-of-type.on {
  transform: translateX(0) translateY(-2px) rotate(-45deg);
  transition: 0.4s;
}

/*========= ローディング画面のためのCSS ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  z-index: 999;
  text-align: center;
  color: #333;
}

.splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
}

.splash-logo span {
  display: block;
  transform: translate(0, 103%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.splash-logo.-visible span {
  transform: translate(0, 0);
}

.splash-logo span:nth-child(2) {
  transition-delay: 0.05s;
}

.splash-logo span:nth-child(3) {
  transition-delay: 0.1s;
}

.splash-logo span:nth-child(4) {
  transition-delay: 0.15s;
}

.splash-logo span:nth-child(5) {
  transition-delay: 0.2s;
}

.splash-logo span:nth-child(6) {
  transition-delay: 0.25s;
}

.splash-logo span:nth-child(7) {
  transition-delay: 0.3s;
}

.splash-logo span:nth-child(8) {
  transition-delay: 0.35s;
}

.splash-logo span:nth-child(9) {
  transition-delay: 0.4s;
}

.splash-logo span:nth-child(10) {
  transition-delay: 0.45s;
}

.splash-logo span:nth-child(11) {
  transition-delay: 0.5s;
}