@charset "UTF-8";
/* base
--------------------------- */
html {
  font-size: 62.5%;
  font-family: "Mukta", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #fff;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-size: 1.4rem;
  color: #555;
}
@media screen and (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

/* layout
  ========================================================================== */
.ly_header {
  padding: 8vw 0 0 0;
  opacity: 0;
  position: relative;
  z-index: 999;
}
@media screen and (min-width: 769px) {
  .ly_header {
    padding: 3vw 0 0 0;
  }
}
.ly_header_inner {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .ly_header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.ly_main {
  transition: 0.7s;
}
.ly_main.on {
  transition: 0.7s;
  filter: blur(4px);
}
@media screen and (min-width: 1025px) {
  .ly_main.on {
    filter: none;
  }
}

.ly_section {
  margin: 0 auto 80px auto;
}
@media screen and (min-width: 769px) {
  .ly_section {
    margin: 0 auto 120px auto;
  }
}
.ly_section_inner {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 769px) {
  .ly_section_inner {
    max-width: 1000px;
    width: 92%;
  }
}
.ly_section:first-of-type {
  margin: 32px 0;
}

.ly_footer {
  padding: 10vw 0;
  margin-top: 4vw;
  background-color: #fff;
}
@media screen and (min-width: 769px) {
  .ly_footer {
    padding: 3vw 0;
  }
}
.ly_footer_inner {
  width: 92%;
  margin: 0 auto;
  padding: 4em 0 1em 0;
  border-top: solid 1px #cfcfcf;
}
@media screen and (min-width: 769px) {
  .ly_footer_inner {
    padding: 6em 0 1em 0;
  }
}

/* block
    ========================================================================== */
.bl_lv1-heading {
  letter-spacing: 0.3em;
  color: #444;
}

.bl_lv2-heading {
  font-size: 6vw;
  margin-bottom: 3vw;
  letter-spacing: 0.05em;
  color: #1295b8;
  opacity: 0;
}
@media screen and (min-width: 769px) {
  .bl_lv2-heading {
    font-size: 40px;
    margin-bottom: 1vw;
  }
}

.bl_lv3-heading {
  font-size: 5vw;
  margin-bottom: 2vw;
  letter-spacing: 0.05em;
  border-bottom: solid 1px #cfcfcf;
  padding-bottom: 0.1em;
  color: #444;
}
@media screen and (min-width: 769px) {
  .bl_lv3-heading {
    font-size: 24px;
  }
}

.bl_content {
  opacity: 0;
}

.bl_txt {
  margin-bottom: 16px;
}

.bl_link {
  color: #777;
  text-decoration: underline;
}

.bl_header-utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bl_header-utils_logo {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.bl_header-utils_heading {
  margin-left: 16px;
}

.bl_hamburger {
  padding: 10px;
  max-width: 40px;
  cursor: pointer;
  position: fixed;
  right: 5%;
  z-index: 999;
}
@media screen and (min-width: 1025px) {
  .bl_hamburger {
    display: none;
  }
}
.bl_header-nav {
  height: 100vh;
}
@media screen and (min-width: 1025px) {
  .bl_header-nav {
    height: auto;
  }
}
.bl_header-nav_lv2heading {
  display: none;
}
.bl_header-nav_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1025px) {
  .bl_header-nav_list {
    display: flex;
    justify-content: end;
    position: static;
    transform: translate(0, 0);
  }
}
@media screen and (min-width: 1025px) {
  .bl_header-nav_item:first-of-type {
    display: none;
  }
}
.bl_header-nav_item {
  text-align: center;
  margin-bottom: 7.6vw;
}
@media screen and (min-width: 769px) {
  .bl_header-nav_item {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .bl_header-nav_item {
    margin-bottom: 0;
    margin-right: 32px;
  }
}
.bl_header-nav_item:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 1025px) {
  .bl_header-nav_item:last-of-type {
    margin-right: 0;
  }
}
.bl_header-nav_link {
  font-size: 4.4vw;
  color: #444;
  letter-spacing: 0.1em;
  display: block;
  border: solid 1px #cfcfcf;
  padding: 0.3em 0.7em 0.2em 0.7em;
  color: #fff;
}
@media screen and (min-width: 769px) {
  .bl_header-nav_link {
    font-size: 16px;
  }
}
@media screen and (min-width: 1025px) {
  .bl_header-nav_link {
    color: #444;
    border: solid 0px #cfcfcf;
  }
}

.bl_footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bl_footer-copyright_txt {
  font-size: 2vw;
  letter-spacing: 0.07em;
}
@media screen and (min-width: 769px) {
  .bl_footer-copyright_txt {
    font-size: 12px;
  }
}

/* unique
  ========================================================================== */
.un_kv {
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .un_kv {
    height: 80vh;
  }
}
.un_kv_ttl {
  font-size: 7.2vw;
  letter-spacing: 0.3em;
  color: #444;
  opacity: 0;
}
@media screen and (min-width: 769px) {
  .un_kv_ttl {
    font-size: 56px;
  }
}
.un_kv_txt {
  opacity: 0;
  letter-spacing: 0.3em;
  color: #444;
}

.un_object {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -999;
  opacity: 0;
}
.un_object_group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 208px;
  position: absolute;
}
.un_object_group--01 {
  -webkit-animation: right-rotate 97s linear infinite -6s;
  animation: right-rotate 97s linear infinite -6s;
  z-index: 3;
}
.un_object_group--02 {
  -webkit-animation: left-rotate 100s linear infinite;
  animation: left-rotate 100s linear infinite;
  z-index: 2;
}
.un_object_group--03 {
  -webkit-animation: right-rotate 94s linear infinite 2s;
  animation: right-rotate 94s linear infinite 2s;
  z-index: 1;
}
.un_object_box {
  min-width: 100px;
  width: 10vw;
  min-height: 100px;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6em;
  margin: 2px;
  border: solid 1px #cfcfcf;
  pointer-events: none;
}
@media screen and (min-width: 1025px) {
  .un_object_box {
    pointer-events: inherit;
  }
}
.un_object_box:hover .bl_object_box-txt {
  opacity: 1;
  transition: 1s;
}

@-webkit-keyframes right-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes right-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes left-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes left-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.un_skill {
  margin-bottom: 1.5em;
}
.un_skill_head {
  display: flex;
  align-items: end;
  margin-bottom: 0.5em;
}
.un_skill_img-wrapper {
  display: flex;
  margin-bottom: -0.1em;
}
.un_skill_img {
  max-width: 56px;
}
.un_skill_ttl {
  font-size: 16px;
  padding: 0 0.5em 0.1em 0;
  display: inline-flex;
  align-items: center;
}
.un_skill_ttl::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #1295b8;
  margin-right: 0.4em;
}
.un_skill:last-of-type {
  margin-bottom: 0;
}

.un_work {
  margin-bottom: 4em;
  position: relative;
}
.un_work::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #cfcfcf;
  position: absolute;
  left: 50%;
  bottom: 0em;
  transform: translate(-50%, 0);
  -webkit-animation: line 2.5s ease-in-out infinite;
  animation: line 2.5s ease-in-out infinite;
}
@-webkit-keyframes line {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@keyframes line {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
.un_work_head {
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
  transition: 0.7s;
  overflow: hidden;
}
.un_work_head:hover {
  opacity: 0.7;
  transition: 0.7s;
}
.un_work_mv {
  transition: 0.7s;
}
.un_work_mv:hover {
  transform: scale(1.03);
  transition: 0.7s;
}
.un_work_body {
  font-size: 14px;
  margin-top: 6vw;
  overflow: hidden;
  max-height: 0px;
  transition: 0.7s;
}
@media screen and (min-width: 769px) {
  .un_work_body {
    margin-top: 2vw;
  }
}
.un_work_body.on {
  max-height: 500px;
  transition: 0.7s;
}
.un_work_ttl {
  font-size: 16px;
  margin-bottom: 2vw;
  color: #1295b8;
  border-bottom: solid 1px #cfcfcf;
  margin-bottom: 1em;
  padding: 0.2em 0 0.5em 0;
}
.un_work_dt {
  font-size: 11px;
  position: relative;
}
@media screen and (min-width: 769px) {
  .un_work_dt {
    float: left;
    font-size: 14px;
    color: #444;
    min-width: 100px;
  }
}
@media screen and (min-width: 769px) {
  .un_work_dt::after {
    content: ":";
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(100%, -58%);
    font-size: 20px;
  }
}
.un_work_dd {
  color: #444;
  font-size: 14px;
  border-bottom: solid 1px #cfcfcf;
  margin-bottom: 1em;
  padding: 0.2em 0 0.5em 0;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .un_work_dd {
    padding-left: 8em;
    padding: 0 0 0.5em 10em;
  }
}
.un_work_link {
  color: #777;
}
.un_work_list {
  list-style: inside;
}
.un_work_item {
  list-style: inside;
}

/* helper
  ========================================================================== */
.hp_txt-center {
  text-align: center;
}

/* program
  ========================================================================== */
.js_header-nav {
  position: fixed;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  transition: 0.7s;
  background-color: rgba(68, 68, 68, 0.5647058824);
  width: 50%;
  z-index: 997;
}
@media screen and (min-width: 769px) {
  .js_header-nav {
    width: 30%;
  }
}
@media screen and (min-width: 1025px) {
  .js_header-nav {
    position: static;
    background-color: unset;
    transform: translate(0, 0);
    width: auto;
  }
}
.js_header-nav.on {
  left: 50%;
  transition: 0.7s;
}
@media screen and (min-width: 769px) {
  .js_header-nav.on {
    left: 70%;
  }
}

.js_hamburger-btn_line {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #444;
  margin-bottom: 4px;
  transition: 0.4s;
}
@media screen and (min-width: 1025px) {
  .js_hamburger-btn_line {
    width: 20px;
    height: 1px;
  }
}
.js_hamburger-btn_line.on {
  transform: translateX(0) translateY(3px) rotate(45deg);
  transition: 0.4s;
  background-color: #fff;
}

.js_hamburger-btn_line:last-of-type {
  margin-bottom: 0;
}
.js_hamburger-btn_line:last-of-type.on {
  transform: translateX(0) translateY(-2px) rotate(-45deg);
  transition: 0.4s;
}

/*========= ローディング画面のためのCSS ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  z-index: 999;
  text-align: center;
  color: #444;
}

.splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  overflow: hidden;
}

.splash-logo span {
  display: block;
  transform: translate(0, 103%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  border: solid 1px #cfcfcf;
  padding: 0.25em 0.3em 0.1em 0.3em;
  margin: 0 1px;
  line-height: 1;
}

.splash-logo .border-none {
  border: none;
  padding: 0.25em 0 0.1em 0;
}

.splash-logo.-visible span {
  transform: translate(0, 0);
}

.splash-logo span:nth-child(2) {
  transition-delay: 0.05s;
}

.splash-logo span:nth-child(3) {
  transition-delay: 0.1s;
}

.splash-logo span:nth-child(4) {
  transition-delay: 0.15s;
}

.splash-logo span:nth-child(5) {
  transition-delay: 0.2s;
}

.splash-logo span:nth-child(6) {
  transition-delay: 0.25s;
}

.splash-logo span:nth-child(7) {
  transition-delay: 0.3s;
}

.splash-logo span:nth-child(8) {
  transition-delay: 0.35s;
}

.splash-logo span:nth-child(9) {
  transition-delay: 0.4s;
}

.splash-logo span:nth-child(10) {
  transition-delay: 0.45s;
}

.splash-logo span:nth-child(11) {
  transition-delay: 0.5s;
}

.animation_header {
  -webkit-animation: header 1.5s ease-in-out forwards 3.2s;
  animation: header 1.5s ease-in-out forwards 3.2s;
}

@-webkit-keyframes header {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes header {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation_ttl {
  -webkit-animation: ttl 1.2s ease-in-out forwards 2.8s;
  animation: ttl 1.2s ease-in-out forwards 2.8s;
}

@-webkit-keyframes ttl {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes ttl {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
.animation_txt {
  -webkit-animation: txt 1s ease-in-out forwards 3s;
  animation: txt 1s ease-in-out forwards 3s;
}

@-webkit-keyframes txt {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes txt {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
.animation_object {
  -webkit-animation: object 2s ease-in-out forwards 1s;
  animation: object 2s ease-in-out forwards 1s;
}

@-webkit-keyframes object {
  0% {
    opacity: 0;
    top: 55%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

@keyframes object {
  0% {
    opacity: 0;
    top: 55%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}
.js_scrl-target-fire {
  -webkit-animation: scrl-target-fire 1.4s ease-in-out forwards 0s;
  animation: scrl-target-fire 1.4s ease-in-out forwards 0s;
}

@-webkit-keyframes scrl-target-fire {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrl-target-fire {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}